body{
    background-color: rgb(243, 243, 243);
}
table{
    border: 0px;

}
table img{
    width: 300px;
    height: 200px;
}
p{
    font-style: italic;
    font-size: 12px;
}
.View-Album {
    background-color: #1dec4a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .View-Album:hover {
    background-color: #15a334;
  }
  
  .View-Album span {
    margin-right: 5px;
  }
  
  .View-Album i {
    margin-left: 5px;
  }
 .download{
    background-color: #00d600;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
  }
  
  .download:hover {
    background-color: #db05db;
  }
  
  .download span {
    margin-right: 5px;
  }
  
  .download i {
    margin-left: 5px;
  }
  #m1 {
    width: 250px;
    float: left;
    margin-right: 10px;
    }
    #m2{
        width:60px;
        float:right;
        margin-right:10px;
      
    }
    
    a {
    color: #FFF;
    }
    
    #container {
    
        padding-left: 35px;
   
    }
    
    nav {
    margin: 50px 0;
    background-color: black;
    }
    
    nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    }
    
    nav ul li {
    display: inline-block;
    background-color: black;
    }
    
    nav a {
    display: block;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    }
    
    nav a:hover {
    background-color: gray;
    }
    
    
    nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    }
    
    
    nav ul li:hover > ul {
    display: inherit;
    }
    
    /* Fisrt Tier Dropdown */
    nav ul ul li {
    width: 250px;
    float: none;
    display: list-item;
    position: relative;
    }
    .sign{
        float: right;
    }

.m_footer{
	left:0;
    bottom:0;
    position:inherit;
	width: 100%;
	background-color: rgb(147, 147, 215);

	
}
#m_about{
	color:#EFEFEF;
	background-color:rgb(73, 73, 158);
	border-color: rgb(73, 73, 158);	
	font-size: 30px;
	border-radius: 8px;
	margin: 20px;
	inline-size: 150px;
	margin-bottom: 50px;
	
}
#m_contact{
	float: right;
	color:white;
	font-size: 30px;
	font-family: 'Times New Roman', Times, serif;
	margin-top:15px;
	margin-right:10px;
}
#m_icon{
	text-align:right;
	margin-right: 20px;
	margin-bottom: 10px;;
	color:white;
	
}